/* Menu */

.carousel-inner{
    height: 550px!important; 
    background-size: cover!important;
}

.btn-slider{
  width: 15px!important;
  height: 15px!important;
  border-radius: 50%!important;
}

#navBar{
    background-color: rgb(46, 65, 94);
    width: 100%;
    position: fixed;
    z-index: 10;
}

.logo-navbar{
    font-size: 8px;
}

.navbar{
    opacity: 0.6;
}

.carousel-inner{
    background-color: white;
}